nav div ul li{
    color: white;
}
nav div ul {
    display: flex;
    gap: 5%;
    justify-content: center;
  }
nav div ul li {
  list-style: none;
  font-size: 20px;
}
.logo{
  width: 10%;
  height: auto;
}